{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">
    <div class="col-md-12">
        <!--CARTESTAGE-->
        <h4>---------- CARTESSTAGES ----------</h4>
        {% for stageCourant in stages %}
        <div class="card">
            <h5 class="card-header">
                {{stageCourant.id}}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    {{stageCourant.titre}}
                </p>
            </div>
        </div>
        {% endfor %}
        <!--ENDCARTESTAGE-->
    </div>
</div>




{% endblock %}