{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">
    <div class="col-md-12">
        <!--CARTESTAGE-->
        <h4>---------- CARTESSTAGES ----------</h4>

        {% for stageCourant in stages %}
        <div class="carte">
            <div class="idStage">{{stageCourant.id}}</div>
            <div class="titreStage"><h5>{{stageCourant.titre}}</h5></div>
            <div class="entrepriseStage">{{stageCourant.entreprises_id}}</div>
            <div class="formationStage"></div>
        </div>
        {% endfor %}

        <!--ENDCARTESTAGE-->
    </div>
</div>



{% endblock %}