{% extends 'base.html.twig' %}

{% block contenu %}
        <h3 class="titreSection">Stages</h3>

        <!--CARTES STAGES-->
        {% for stageCourant in stages %}
        <a class="carteStage" href="/stages/{{stageCourant.id}}">
            <div class="idStage">{{stageCourant.id}}</div>
            <div class="titreStage"><h5>{{stageCourant.titre}}</h5></div>
            <div class="entrepriseStage">Entreprise</div>
            <div class="formationStage">Formation</div>
        </a>
        {% endfor %}
        <!--END CARTES STAGES-->


{% endblock %}