<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>

    <h1>Bienvenue sur la page d'accueil de Prostages</h1>

    <ul>
        <li><a href="openclassdut/entreprises.html.twig">Entreprises</a></li>
        <li><a href="openclassdut/formations.html.twig">Formations</a></li>
        <li><a href="openclassdut/stages.html.twig">Stages</a></li>
    </ul>

</body>
</html>