.container-fluid {
    /*padding: 0%;*/
}

.carte {
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
}

.idStage {
    font-size: 20px;
    padding: 0.5%;
    width: 3%;
    text-align: center;
    border: 1px solid black;    
}

.titreStage, .entrepriseStage {
    padding: 0.5%;
    width: 48%;
    border: 1px solid black;
}